<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>716627870999-iggal44r1lothok34smfjsvft6jptii4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.716627870999-iggal44r1lothok34smfjsvft6jptii4</string>
	<key>API_KEY</key>
	<string>AIzaSyBulUJuwFgbHrxgWgfHF9m2ighRjgTh9dg</string>
	<key>GCM_SENDER_ID</key>
	<string>716627870999</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.reactjs.native.example.Korbe</string>
	<key>PROJECT_ID</key>
	<string>korbe-4944b</string>
	<key>STORAGE_BUCKET</key>
	<string>korbe-4944b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:716627870999:ios:926f4ba7cbaaa9ad2a6352</string>
</dict>
</plist>